*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner{
    background-color: brown;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.box{
    background-color: aqua;
    border: 1px solid black;
    /* width:  80px; */
    height: 80px;
}
#box1{
    grid-column-end: 1;
    grid-column-end: 4;
}
